<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <button type="button" id="renderBtn">
    Pay Now
  </button>

  <script>
      var cashfree = Cashfree({
        mode: "sandbox" //or production,
      });
      document.getElementById("renderBtn").addEventListener("click", () => {
        cashfree.checkout({
          paymentSessionId: "session_wECEtZe5bS-4RtiN__DSmVaeKeFjzRdL4hhCpf8nmcoI8wO-BncruI0BbLqX0pCtjHx8eb3sHUzblygHtpxGBsDux1iHiDKYMGxTcsAxnz6m"
        });
      });
  </script>

  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
